@import "default";

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.slider {
  position: relative;
  overflow: hidden;
  
  &__container {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  &__item {
    flex: 0 0 100%;
    min-width: 100%;
    box-sizing: border-box;
    
    img {
      width: 100%;
      border-radius: 10px;
    }
  }
  
  &__controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }
  
  &__control {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
    
    &:focus {
      outline: none;
    }
  }
  
  &__control--prev {
    margin-left: 10px;
  }
  
  &__control--next {
    margin-right: 10px;
  }
  
  &__templateItem {
    display: none;
  }
  
  &__nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  &__nav-dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  &__nav-dot--active {
    background-color: rgba(255, 0, 0, 0.8);
  }
}